.video__iframes {
  display: flex;
  justify-content: center;
  /*wrap - видео будет переноситься на другую строку, если ему не будет хватать места*/
  flex-wrap: wrap;
  margin: 0 auto;
  /*gap - последнему элементу в строке не нужно придумывать отступ*/
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 110px;
  position: relative;
}

/*Пустой блок для создания эффекта наложения видео*/
.video__iframes::after {
  content: "";
  display: block;
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 160px;
  z-index: -1;
}