.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  /* Ниже выставил position: relative, чтобы элементы позиционировались относительно heder, а на body*/
  /* не влияет на позицию блока, если не указано смещение */
  position: relative;
  /* Ниже для формирования контекста наложения см. справку https://doka.guide/css/stacking-context */
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  /*Чтобы синий квадрат не переполнял блок (обрезался при вращении)*/
  overflow: hidden;
}