.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  /*Размер области 765*608. Необходимо, чтобы изображение заполняло её с сохранением пропорций.
  Без object-fit: cover, изображение немного растягивается по ширине*/
  object-fit: cover;
  /*Заполнение области должно начаться сверху*/
  object-position: top;
}