.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  /*Изображение целиком заполнит заданную область с сохранением пропорций*/
  object-fit: cover;
  /*Заполнение пойдет сверху, низ изображения будет обрезан*/
  object-position: top;
}